/* Colour coding - Union Blue */
aside li a, h2.toggle {background-color:#00B3BC;color: white;padding:10px;}
aside li a:hover, aside li a.current {background:#00B3AC;color: white;}
h1.page-title {color:#0B7EAA;}